<a href="https://colab.research.google.com/github/AlexRostaing/TestEcoCO2/blob/master/part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
from datetime import datetime
from matplotlib import pyplot

url = "http://api-recrutement.ecoco2.com/v1/data?start=1483225200&end=1546297199"
response = requests.get(url)
original_data = response.json()
hourly_data = []

for i in original_data:
    i['datetime'] = datetime.strptime(i['datetime'], "%Y-%m-%dT%H:%M:%S")
    if i['datetime'].minute == 0:
      hourly_data.append(i)

df_original = pd.DataFrame(data=original_data)
df_original.set_index('datetime')

df = pd.DataFrame(data=hourly_data)
df = df.set_index('datetime').asfreq('30Min')

interpolated_linear = df.interpolate(method='linear')
print(interpolated_linear)
interpolated_poly2 = df.interpolate(method='polynomial', order=2)
interpolated_poly5 = df.interpolate(method='polynomial', order=5)
print(interpolated_poly2)
print(interpolated_poly5)
print(df_original)

                     co2_rate
datetime
2017-01-01 00:00:00      44.0
2017-01-01 00:30:00      43.0
2017-01-01 01:00:00      42.0
2017-01-01 01:30:00      44.0
2017-01-01 02:00:00      46.0
...                       ...
2018-12-31 21:00:00      46.0
2018-12-31 21:30:00      43.5
2018-12-31 22:00:00      41.0
2018-12-31 22:30:00      40.0
2018-12-31 23:00:00      39.0

[35039 rows x 1 columns]
                      co2_rate
datetime
2017-01-01 00:00:00  44.000000
2017-01-01 00:30:00  41.902030
2017-01-01 01:00:00  42.000000
2017-01-01 01:30:00  44.293909
2017-01-01 02:00:00  46.000000
...                        ...
2018-12-31 21:00:00  46.000000
2018-12-31 21:30:00  44.676254
2018-12-31 22:00:00  41.000000
2018-12-31 22:30:00  39.107915
2018-12-31 23:00:00  39.000000

[35039 rows x 1 columns]
                      co2_rate
datetime
2017-01-01 00:00:00  44.000000
2017-01-01 00:30:00  33.759377
2017-01-01 01:00:00  42.000000
2017-01-01 01:30:00  47.476442
2017-01-01 02:00:00  46.000000
...                        ...
2018-12-31 21:00:00  46.000000
2018-12-31 21:30:00  46.270978
2018-12-31 22:00:00  41.000000
2018-12-31 22:30:00  34.653513
2018-12-31 23:00:00  39.000000

[35039 rows x 1 columns]
                 datetime  co2_rate
0     2017-01-01 00:00:00        44
1     2017-01-01 00:30:00        34
2     2017-01-01 01:00:00        42
3     2017-01-01 01:30:00        33
4     2017-01-01 02:00:00        46
...                   ...       ...
35035 2018-12-31 21:30:00        32
35036 2018-12-31 22:00:00        41
35037 2018-12-31 22:30:00        49
35038 2018-12-31 23:00:00        39
35039 2018-12-31 23:30:00        36

[35040 rows x 2 columns]